
/* header {
    text-align: center;
    margin: 3rem 0;
  }
  

  header p {
    margin: 0;
    font-size: 1.25rem;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
  } */